html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --orange : rgb(227, 136, 38);
    --darkcyan : rgb(0, 105, 112);
    --verydarkcyan :rgb(0, 66, 65);
}
.orange {
    background-color: var(--orange);
}

.darkcyan {
    background-color: var(--darkcyan);
}

.verydarkcyan {
    background-color: var(--verydarkcyan);
}

.content-section {
    padding-left: 50px;
    padding-right: 50px;
}

img {
    width: 50px;
}

.heading {
    color: rgb(242, 242, 242);
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 8px;
}

.description {
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    margin-top: 8px;
}

button {
    width: 120px;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 36px;
}


@media screen and (min-width:768px) {
    .container {
        width: 80%;
        margin: auto;
        display:flex;
        margin-top: 5%;
        height: 450px;
    }

    .orange {
        border-radius: 2% 0 0 2%;
    }

    .verydarkcyan {
        border-radius: 0 2% 2% 0;
    }

    .content-section {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }

    .heading {
        padding-top: 8%;
        font-size: 30px;
    }

    
    .description {
        height: 50%;
        line-height: 1rem;
        margin-top: 15px;
    }
    
    .button {
        margin-top: 0;
    }
}
